* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quotazo-image {
    height: 100%;
    width: 100%;
    max-width: 1080px;
}

.attribution {
    text-align: center;
}

.hidden {
    display: none;
}