* {
    box-sizing: border-box;
}

:root {
    --darkest-bg-color: #696969;
    --light-bg-color: #B7C8B5;
    --dark-bg-color: #0b4141;
    --text-color: #E6F2E3;
    --text-color: white;
    --highlight-color: #FF0035;
    --highlight-hover-color: #e0002d;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    min-height: 100vh;
    background: var(--light-bg-color);
    background: linear-gradient(165deg, #7400b8ff, #6930c3ff, #5e60ceff, #5390d9ff, #4ea8deff, #48bfe3ff, #56cfe1ff, #64dfdfff, #72efddff, #80ffdbff);;
}

header {
    color: var(--text-color);
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: calc(32px + 2vmax);
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo, .sharing-icon {
    color: var(--highlight-color);    
}

.button {
    background-color: var(--highlight-color);
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    font-family: 'Roboto', sans-serif;
    font-size: calc(16px + 1vmax);
    font-weight: bold;
    color: var(--text-color);
    padding: .5em 1em;
    border-radius: .6em;
    border: 0;
}

.button:hover {
    background-color: var(--highlight-hover-color);
}

.quotazo-display {
    width: 100%;
    max-width: 600px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotazo-figure {
    width: 100%;
    margin: 15px;
}

.quotazo-image {
    height: auto;
    width: 100%;
}

.attribution {
    text-align: center;
    color: black;
    padding: .5rem;
    padding-bottom: 27px;
}

.attribution a {
    color: black;
}

.sharing-list {
    width: 100%;
    max-width: 600px;
    padding: 0;
    margin: 0 25px 0 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

.sharing-icon {
    font-size: 32px;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.sharing-icon:hover {
    color: var(--highlight-hover-color)
}

.instagram {
    padding-bottom: .5rem;
}

.hidden {
    display: none;
}

/* in landscape mode, switches the sharing icon list
   from a horizontal list under the image to a 
   vertical list beside the image */
@media (orientation: landscape) {
    .quotazo-display {
        flex-direction: row;
        justify-content: space-around;
        max-width: 100%;
        margin-top: 4vmax;
    }

    .quotazo-figure {
        margin: 0 0 0 5vw;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quotazo-image {
        height: 80vh;
        width: auto;
    }

    .sharing-list {
        flex-direction: column;
        align-self: stretch;
        width: auto;
        margin: 0 7vw 50px 0;
    }

}

@media (min-width: 900px) {
    .sharing-icon, h1 {
        font-size: calc(32px + 3vw);
    }
}